.btn-transparent {
  background: transparent;
}
.btn-rotating {
  transition: transform 0.1s linear;

  &.rotate {
    transform: rotate(90deg);
  }
}

.child-tables {
  &:hover {
    background-color: transparent !important;
  }
}

td.min {
  width: 1%;
  white-space: nowrap;
}
