.btn-transparent {
  background: transparent; }

.btn-rotating {
  transition: transform 0.1s linear; }
  .btn-rotating.rotate {
    transform: rotate(90deg); }

.child-tables:hover {
  background-color: transparent !important; }

td.min {
  width: 1%;
  white-space: nowrap; }

/*# sourceMappingURL=Row.css.map */
